.card__image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.card__container {
    background: #ffffffa1;
    border-radius: 0.5rem;
    max-width: 900px;
    margin: 0 auto;
    padding: 0 0 1.5rem 0;
    overflow: hidden;
}
.card__heading {
    color: #212529;
    text-align: center;
    margin: 1rem 0 1.5rem 0;
}
@media screen and (max-width: 680px) {
    .card__heading {
        font-size: 1.7rem;
        margin: 1.2rem 0;
    }
}

.card__ul {
    list-style: none;
    /* padding: 0 1.2rem; */
    margin-bottom: 2rem;
    padding: 0 1.5rem;
}

.card__li {
    display: flex;
    color: #343a40;
    /* justify-content: space-between; */
    align-items: center;
    margin: 0.45rem 0;
    /* gap: 0 1rem; */
}
@media screen and (max-width: 680px) {
    .card__li {
        font-size: 0.9rem;
    }
}

.card__li_name {
    font-size: 1rem;
    font-weight: 600;
    /* width: 40%; */
    margin-right: auto;
}
@media screen and (max-width: 800px) {
  .card__li_name {
      font-size: 0.75rem;
  }
}
@media screen and (max-width: 680px) {
    .card__li_name {
        font-size: 0.7rem;
    }
}
/* SALARY */
.salary__heading {
    text-align: center;
    margin-bottom: 1.5rem;
}
.salary__ul {
    list-style: none;
    padding: 0 1.5rem;
    /* padding: 0 1.2rem; */
    /* margin-bottom: 2rem; */
}

.salary__li {
    color: #495057;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0.45rem 0;
    padding: 0.2rem 0;
    /* gap: 0 1rem; */
    font-size: 0.65rem;
    font-weight: 600;
    border-bottom: 1px dashed #000000a1;
}
@media screen and (max-width: 800px) {
  .salary__li {
      font-size: 0.55rem;
  }
}
@media screen and (max-width: 600px) {
    .salary__li {
        font-size: 0.5rem;
    }
}
/* 
.salary__title {
} */

.salary__range {
    font-size: 0.9rem;
    /* font-weight: 300; */
}

.button__container {
    display: flex;
    justify-content: flex-end;
}
.button {
    text-transform: uppercase;
    background: transparent;
    border: 1px solid #000000a1;
    border-radius: 0.25rem;
    padding: 0.5rem 1.2rem;
    margin: 1rem 1rem 0 0;
    font-size: 0.9rem;
    font-weight: 600;
    color: #000000a1;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
}

.button:hover {
    background: #7048e8;
    color: white;
}

.picture__container {
    display: flex;
    justify-content: flex-end;
    padding: 0 1rem;
}
.picture__text {
    font-size: .85rem;
    color: #495057;
}

/* MODAL */
.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 100;
    transition: all 0.3s ease-in-out;
}
.modal__content {
    background: #fff;
    width: 90%;
    max-width: 500px;
    padding: .35rem;
    border-radius: 0.5rem;
    position: relative;
    text-align: center;
}
.modal__close {
    position: absolute;
    top: 1rem;
    right: 1rem;
    font-size: 1.5rem;
    cursor: pointer;
}