.modalOverlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  /* display: flex;
  align-items: center;
  justify-content: center; */
  z-index: 10;
}

.modalContent {
  max-width: 520px;
  height: 85vh;
  margin: 0 auto;
  background-color: white;
  /* padding: 0 1rem; */
  border-radius: 6px;
  /* overflow: hidden; */
  overflow-x: hidden;
  overflow-y: scroll;
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.2);
  margin-top: 2rem;
}

.card__imageChild {
  height: 10rem;
  width: 100%;
}

.life__quality {
  padding: 0 1rem;
  margin: .75rem 0;
}

.quality__list_parent {
  list-style: none;
}
.quality__list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 0 1rem;
}
.progressBar {
  width: 100px;
}
.quality__heading {
  padding-bottom: .5rem;
}