/*
  NAVBAR STYLES - NAVIGATION
*/
.nav {
    padding: 1rem 2.5rem;
}

@media (max-width: 940px) {
    .nav {
        padding: 1rem 1rem;
    }
}

@media (max-width: 700px) {
    .nav {
        padding: 1rem 0.2rem;
    }
}

@media (max-width: 605px) {
  .nav {
      padding: 1rem 0.1rem;
  }
}

.navbar {
    font-size: 1.3rem;
    max-width: 70%;
    /* height: 4rem; */
    margin: 0 auto;
    background: #f1f3f5;
    padding: 0.5rem 1rem;
    display: flex;
    justify-content: space-between;
    gap: 1rem;
    border-radius: 0.8rem;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
@media (max-width: 940px) {
    .navbar {
        font-size: 1rem;
        font-weight: 600;
        max-width: 100%;
        gap: .5rem;
    }
}
@media (max-width: 700px) {
    .navbar {
        font-size: 0.75rem;
        max-width: 100%;
        gap: .45rem;
    }
}
@media (max-width: 605px) {
  .navbar {
      font-size: 0.75rem;
      max-width: 100%;
      padding: .5rem .5rem;
      gap: .4rem;
  }
}

.nav__dropdown {
    font-size: 1rem;
    font-family: inherit;
    font-weight: 600;
    background-color: #b197fc;
    color: #343a40;
    border: none;
    border-radius: 2rem;
    padding: 0.75rem 1.2rem;
    cursor: pointer;

    display: flex;
    align-items: center;
    gap: 0.45rem;

    transition: all ease-in-out 0.25s;
}
@media (max-width: 740px) {
    .nav__dropdown {
        font-size: 0.85rem;
        padding: 0.55rem .9rem;
        gap: 0.35rem;
    }
}
@media (max-width: 600px) {
    .nav__dropdown {
        font-size: 0.85rem;
        padding: 0.55rem .5rem;
        gap: 0.3rem;
    }
}
.nav__dropdown:hover {
    background-color: #845ef7;
    color: #212529;
}

.nav__filterIcon {
    /* color: yellow; */
    width: 2rem;
    height: 1.5rem;
}

.nav__inputParent {
    width: 65%;
    position: relative;
}

.nav__input {
    /* margin-right: auto; */
    width: 90%;
    height: 100%;
    background: #dee2e6ef;
    border: none;
    outline: none;
    border-radius: 0.65rem;
    padding-left: 2.5rem;
    font-family: inherit;
    font-size: 1.1rem;

    transition: all ease-in-out 0.25s;
}
@media (max-width: 700px) {
    .nav__input {
        width: 100%;
        font-size: .95rem;
    }
}
.nav__input::placeholder {
    color: #2125299c;
}
.nav__input:focus {
    width: 100%;
}
.nav__searchIcon {
    color: #212529b2;
    width: 2rem;
    height: 1.5rem;
    position: absolute;
    top: 22%;
    left: 5px;
}
@media (max-width: 700px) {
    .nav__searchIcon {
        top: 19%;
        width: 1.8rem;
    }
}
