.parent {
  color: transparent;
  background: #e1e2e2d5;
  width: 40%;
  height: 10px;
  overflow: hidden;
  border-radius: 100rem;
  margin-right: 5rem;
  /* flex-basis: 40%; */
}
@media (max-width: 600px) {
  .parent {
    margin-right: 2rem;
  }
}
@media (max-width: 410px) {
  .parent {
    margin-right: 1rem;
  }
}

.child {
  /* background-color: blue; */
  height: 100%;
  /* width: 10%; */
}